html{
    height: 100%;
}
body{
    position: relative;
    min-height: 100%;
}
.margin-top-20{
	margin-top: 20px;
}

.margin-top-60{
	margin-top: 60px;
}

.pointer{
    cursor: pointer;
}



.card-header {
    padding: 0.75rem 1.25rem;
    margin-bottom: 0;
    background-color: rgb(0, 225, 255);
    border-bottom: 1px solid rgb(249, 255, 247);
}
/*footer css*/

.hidden {
    display: none;
}

.img-thumbnail {
    padding: .25rem;
    background-color: #fff;
    border: 1px solid #dee2e6;
    border-radius: .25rem;
    height: 150px;
    width: 100%;
}

.pb-5, .py-5 {
    padding-bottom: 0rem!important;
    text-align: center;
}

.pt-3, .py-3 {
    background: #1c81ca;
    padding-top: 1rem!important;
}


footer{
    background-color: darkturquoise;
    display: block;
}
/*bangladesh*/
.card-img-top {
    height: 180px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-left: 20px;
    padding-right: 20px;
}

.card-img-top-image{
    height: 120px;
    width: 220px;
}

/*starcssfor the categories collser*/

.list-group-item-success {
    padding: 1px;
    color: #007bff;
    background-color: #ffffff;
}

.list-group-item:last-child {
    margin-bottom: 0;
}

.list-group-item:first-child {
    border-top-left-radius: 1.25rem;
    border-top-right-radius: 1.25rem;
}
.child-rows{
    margin-left: 5px;
}

/*endcssfor the categories collser*/


/*table css*/
.table-bordered{
    border: 1px solid #dee2e6;
    background-color: aliceblue;
}



.table-bordered td, .table-bordered th {
    border: 1px solid #fff;
    width: 1px;
}

.table-bordered thead td, .table-bordered thead th {
    border-bottom-width: 2px;
    background: green;
    color: #ffffff;
    text-align: center;
    padding: 20px;
}




.form-inline {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -ms-flex-align: center;
    align-items: center;
    margin-left: 10px;
}

